@import "~bootstrap/dist/css/bootstrap.css";
#screen-size {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#screen-size h1 {
    font-size: 15em;
    transform: scaleY(2.5);
    font-family: 'Vidaloka', serif;
}

#screen-size p {
    position: absolute;
    margin-top: 26%;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Vidaloka', serif;
}