h1 {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: 'Hepta Slab', serif;
    color: white;
    font-size: 3em;
}

form {
    display: flex;
    width: 50%;
    margin: auto;
    font-family: 'Hepta Slab', serif;
    height: 40px;
}

input[type=text] {
    width: 80%;
}

input[type=submit] {
    width: 20%;
    color: white;
    background-color: rgb(255, 0, 85);
    border-color: rgb(255, 0, 85);
}