<app-navbar></app-navbar>

<header>
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</header>

<h1>Search for Watchlists Within the Community</h1>
<form>
    <input type="text" placeholder="Enter the name of the watchlist">
    <input type="submit">
</form>
<br><br>


<div id="feed">
    <h1>See What Watchlists People Are Creating</h1>
    <div id="watchlist-feed">
        <!-- like an insta-feed, get a poster of a movie in watchlist and display it above title -->
        <p *ngFor="let watchlist of allWatchlists">{{watchlist}}</p>
    </div>
</div>