h1 {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: 'Hepta Slab', serif;
    color: white;
    font-size: 3em;
}

form {
    display: flex;
    width: 50%;
    margin: auto;
    font-family: 'Hepta Slab', serif;
    height: 40px;
}

input[type=text] {
    width: 80%;
}

input[type=submit] {
    width: 20%;
    color: white;
    background-color: rgb(255, 0, 85);
    border-color: rgb(255, 0, 85);
}

#watchlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Hepta Slab', serif;
    width: 800px;
    border: solid rgb(255, 0, 85) 3px;
    height: 500px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.watchlists-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.watchlist-tabs p {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
    margin-top: 2%;
    font-size: 1.5em;
}

#matched p:hover {
    color: rgb(255, 0, 85);
}

#contents-of-watchlist {
  position: absolute;
  left: 12.5%;
  top: 22%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Hepta Slab', serif;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 7.5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  border: 3px solid rgb(255, 0, 85);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
}

#contents-of-watchlist table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  color: white;
  font-size: 0.85em;
  width: 100%;
}

#contents-of-watchlist th {
  padding: 5px 20px;
  border: 2px solid rgb(255, 0, 85);
}


#contents-of-watchlist td {
  padding: 5px 20px;
  border: 2px solid rgb(255, 0, 85);
}

#contents-of-watchlist .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#contents-of-watchlist button {
  background-color: rgb(255, 0, 85);
  border-color: rgb(255, 0, 85);
  color: white;
  font-size: 0.75em;
  padding: 0% 5%;
  border-radius: 10px;
  ;
}

#contents-of-watchlist a {
  color: white;
  text-decoration: none;
}

#contents-of-watchlist a:hover {
  color: rgb(255, 0, 85);
}