<app-navbar></app-navbar>

<header>
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</header>

<h1>Search for Watchlists Within the Community</h1>
<form>
    <input type="text" placeholder="Enter the name of the watchlist">
    <input type="submit">
</form>
<br><br>
<div id="watchlists">
    <div id="watchlist-tabs">
        <h4>A Collection of Pixar Films</h4>
        <div class="watchlist-titles">
            <h5>Up</h5>
            <h5>Toy Story</h5>
            <h5>Finding Nemo</h5>
            <h5>Inside Out</h5>
            <h5>The Incredibles</h5>
            <div class="poster">
              <img
                src="https://m.media-amazon.com/images/M/MV5BMTk3NDE2NzI4NF5BMl5BanBnXkFtZTgwNzE1MzEyMTE@._V1_SX300.jpg">
            </div>
            <br>
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Director</th>
                  <th>Release Date</th>
                  <th>Plot</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Up</td>
                  <td>Pete Docter</td>
                  <td>2009</td>
                  <td>Seventy-eight year old Carl Fredricksen travels to Paradise Falls in his home equipped with
                    balloons,
                    inadvertently taking a young stowaway.</td>
                </tr>
              </tbody>
            </table>
        </div>
        <h4>James Bond Flicks</h4>
        <h4>Films By Women Directors</h4>
        <h4>Foreign Films from France</h4>
        <h4>Movies You'd Like If You Were a Giant Nerd in High School</h4>
    </div>
</div>