#login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    color: white;
    font-family: 'Hepta Slab', serif;
}

#login-signup-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#login-signup-tabs h4 {
  border-bottom: white 2px solid;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}

#login-signup-tabs h4:hover {
  color: rgb(255, 0, 85);
}

#login-signup-tabs p {
    margin-bottom: 1%;
}

form {
    width: 50%;
    padding: 2.5%;
}

input[type=text] {
    width: 50%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

input[type=password] {
  width: 50%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
    padding: 0.5% 7.5%;
    color: white;
    background-color: rgb(255, 0, 85);
    border-color: rgb(255, 0, 85);
    border-radius: 10px;
}