#create-view {
    margin-top: 17%;
    color: white;
    font-family: 'Hepta Slab', serif;
}

#create-view-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#create-view-tabs h4 {
    border-bottom: white 2px solid;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    color: white;
    font-size: 2.5em;
}

#create-view h4:hover {
    color: rgb(255, 0, 85);
}

#create-view-tabs p {
    margin-bottom: 1%;
}

#create-view form {
    width: 50%;
    padding: 2.5%;
}

#create-view input[type=text] {
    width: 50%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#create-view input[type=password] {
    width: 50%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#create-view input[type=submit] {
    padding: 0.5% 7.5%;
    color: white;
    background-color: rgb(255, 0, 85);
    border-color: rgb(255, 0, 85);
    border-radius: 10px;
}

#search-movies {
    position: absolute;
    left: 12.5%;
    top: 22%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Hepta Slab', serif;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 10% 10%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    border: 3px solid rgb(255, 0, 85);
}

#search-movies form {
    width: 100%;
    height: 50px;
}

#search-movies input[type=text] {
    width: 75%;
}

#search-movies input[type=submit] {
  width: 20%;
  color: white;
  background-color: rgb(255, 0, 85);
  border-color: rgb(255, 0, 85);
}

#search-movies table {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    color: white;
    font-size: 0.85em;
    width: 100%;
}

#search-movies th {
    padding: 5px 20px;
    border: 2px solid rgb(255, 0, 85);
}

#search-movies td {
  padding: 5px 20px;
  border: 2px solid rgb(255, 0, 85);
}

#search-movies #buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#search-movies button {
    background-color: rgb(255, 0, 85);
    border-color: rgb(255, 0, 85);
    color: white;
    font-size: 0.75em;
    padding: 0% 5%;
    border-radius: 10px;;
}