<app-navbar></app-navbar>

<header>
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</header>

<div id="create-view">
    <div id="create-view-tabs">
        <h4 (click)="showSearch(createForm, viewLists, moviesSearch)">Search for a Movie</h4>
        <h4 (click)="showCreate(createForm, viewLists)">Create a Watchlist</h4>
        <form #createForm hidden>
            <p>Enter the name of your new watchlist:</p>
            <input type="text" #createWL>
            <br>
            <input type="submit" (click)="submitWatchlist($event, createWL.value, searchMovies)">
        </form>

        <h4 (click)="showView(createForm, viewForm)">View/Update Your Watchlists</h4>
        <form #viewForm hidden>
            <!-- ADDED THESE BUTTONS -->
            <input type="submit" value="View Your Watchlists" (click)="viewWatchlists($event)">
            <br>
            <br>
            <input type="submit" value="View Movies" (click)="viewMovies($event)">
        </form>
        <!--
        <h4 (click)="showView(createForm, viewLists)">View/Update Your Watchlists</h4>
        <br>
        <div #viewLists hidden>
          <p *ngFor="let watchlist of userWatchlistsDisplay">{{watchlist}}</p>
        </div>-->

    </div>
</div>

<div class="search-movies" #moviesSearch hidden>
    <form>
        <p>Search for a movie:</p>
        <input type="text" #searchTitle placeholder="Search by title">
        <input type="submit" (click)="moviesSearchBar($event, searchTitle.value, moviesSearchTable)">



    </form>
    <br><br>
    <table #moviesSearchTable hidden>
        <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Director</th>
                <th>Release Date</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src={{apiFilm.Poster}} width="80"></td>
                <td><a href="https://www.reddit.com/r/movies/search/?q={{apiFilm.Title}}&restrict_sr=1" target="_blank">{{apiFilm.Title}}</a></td>
                <td>{{apiFilm.Director}}</td>
                <td>{{apiFilm.Released}}</td>
                <td>{{apiFilm.Plot}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="buttons">
        <button #exitSearchButton (click)="exit($event, moviesSearch)">Exit</button>
    </div>

</div>

<!-- originally hidden -->
<div class="search-movies" #searchMovies>
    <form>
        <p>Add a movie to your watchlist:</p>
        <input type="text" #title placeholder="Search by title">
        <input type="submit" (click)="submitMovie($event, title.value, movieTable, movieButton, exitButton)">
    </form>
    <br><br>
    <div>
        <table #movieTable hidden>
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Release Date</th>
                    <th>Plot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src={{apiFilm.Poster}} width="80"></td>
                    <td><a href="https://www.reddit.com/r/movies/search/?q={{apiFilm.Title}}&restrict_sr=1" target="_blank">{{apiFilm.Title}}</a></td>
                    <td>{{apiFilm.Director}}</td>
                    <td>{{apiFilm.Released}}</td>
                    <td>{{apiFilm.Plot}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <div class="buttons">
        <button #movieButton hidden (click)="addToWatchList($event)">Add to Watchlist</button>
        <button #exitButton hidden (click)="exit($event, searchMovies)">Exit</button>
    </div>

</div>