<head>
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</head>
<app-navbar></app-navbar>
<div id="trailer">
    <!-- <h1>OMDB API CALL</h1>
    <h1>{{OMDBbyTitle.Title}}</h1>
    <img src="{{OMDBbyTitle.Poster}}" />

    <h1>TMDB API CALL</h1>
    <h1>{{TMDBbyMovieId.title}}</h1>
    <img src="https://image.tmdb.org/t/p/w500{{TMDBbyMovieId.poster_path}}"> -->

    <h1>FEATURE FILM CALL</h1>
    <h1>{{featureFilm.results[0].title}}</h1>
    <img src="https://image.tmdb.org/t/p/w500{{featureFilm.results[0].poster_path}}">

    <h1>{{featureFilm.results[7].title}}</h1>
    <img src="https://image.tmdb.org/t/p/w500{{featureFilm.results[7].poster_path}}">
</div>
<div id="feed"></div>