<app-navbar></app-navbar>

<header>
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</header>

<h1>Community Chat</h1>
<div id="chatroom">
    <div id="display-message">
        <p>
            Message will go here dfsdfdsfdsfdfdfdhfdsjfhdfjdhfdshfjdhfjdhfdjfhdjfhdjfhdjhfjdhfjdhfjdshfjdhfdjfhdjhjdsfdsf
            dfsdfdsfdsfdfdfdhfdsjfhdfjdhfdshfjdhfjdhfdjfhdjfhdjfhdjhfjdhfjdhfjdshfjdhfdjfhdjhjdsfdsfdfdsfdsfdsfdsfdsfds
            dfsdfdsfdsfdfdfdhfdsjfhdfjdhfdshfjdhfjdhfdjfhdjfhdjfhdjhfjdhfjdhfjdshfjdhfdjfhdjhjdsfdsfdfdsfdsfdsfdsfdsfdsdsfdsf
            dfsdfdsfdsfdfdfdhfdsjfhdfjdhfdshfjdhfjdhfdjfhdjfhdjfhdjhfjdhfjdhfjdshfjdhfdjfhdjhjdsfdsfdfdsfdsfdsfdsfdsfdsdsfdsf
            dsfdsfds
        </p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
        <p>Message will go here</p>
    </div>
    <br>
    <form>
        <input type="text" id="message">
        <input type="submit">
    </form>
</div>
