<head>
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
</head>
<nav id="navbar" #navbar>
	<a routerLink="../main" routerLinkActive="active" class="nav-item nav-link">Home</a>
	<a routerLink="../watchlist" routerLinkActive="active" class="nav-item nav-link">Your Watchlists</a>
	<a routerLink="../explore" routerLinkActive="active" class="nav-item nav-link">Explore</a>
	<a routerLink="../chat" routerLinkActive="active" class="nav-item nav-link">Chat</a>
	<button id="logout" (click)="logout($event)" *ngIf="currentUser.getCurrentUser() !== null">Logout</button>
</nav>