<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:postgresql://database-1.czitmou0wboc.us-east-1.rds.amazonaws.com:5432/test</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">revature</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>

		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<property name="show_sql">true</property>

		We'll come back to set other properties. We'll also need to specify mappings in this file. 
		This mapping is constructed using the annotation on Actor 
		<mapping class="com.revature.model.User"/>
		<mapping class="com.revature.model.Watchlist"/>
		<mapping class="com.revature.model.Movie"/>
		<mapping class="com.revature.model.Forum"/>
		
		
	</session-factory>
</hibernate-configuration>
 